<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>资产卖出</title>
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/jquery-form.js"></script>
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">
    <script src="/js/bootstrap/bootstrap.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?423d1e46a3f037d8c42e1b2853f3e69e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script language=javascript>

        function checkaccount(){
            // return false;
            var qbdz=$("#qbdz").val();
            var mcfe=$("#mcfe").val();
            var mclist = $("#mclist").val();
            var checklist = $("span[id$='Check_label']").text();
            if(checklist!=""){
                alert(checklist);
                return false;
            }else if(qbdz==""||mcfe==""){
                alert("请完整填写信息!");
                return false;
            }else if(mclist==""||mclist==null){
                var check = $("#mclistCheck_label");
                check.html( "资产名称为空!");
                check.css({color:"red"});
                return false;
            }
            $("#submit").attr("disabled","disabled");
            return true;

        }
        function tijiaodengdai(result){
            setTimeout(function(){
                if(result=="挂单完成"){
                    $('#imgchange').attr("src","/img/zhengque.png");
                    $('#textchange').text("挂单完成");
                    $('#tjtext').text("提交成功，我们将在两个工作日内对提交内容进行审核。您可以在我的委托中查看提交.");
                    $('#button').removeAttr("disabled");
                    $('#button').val("挂单完成");
                }else{
                    $('#imgchange').attr("src","/img/cuowu.png");
                    $('#textchange').text(result);
                    $('#tjtext').text("提交失败，请查看数据是否填写正确，重新填写正确数据");
                    $('#button').removeAttr("disabled");
                }
            },1000);
        };
        $('#form1').ajaxForm(function(result){
            $('#myModal').modal('show');
            tijiaodengdai(result);
        })

        function okey(){
            var values = $('#button').val();
            if(values=="挂单完成"){
                window.location.href="index"
            }else{
                $('#imgchange').attr("src","/img/jiazaizhong-063.gif");
                $('#textchange').text("正在提交...");
                $('#tjtext').text("数据正在提交，请耐心等待。");
                $('#submit').removeAttr("disabled");
            }
        }
        function checkRegisterInfo(num){
            var text;

            switch (num) {
                    //当点击提交按钮时校验必填项是否为空,防止直接点击提交按钮
                case 0:

                    //验证资产名称
                case 1:

                    text = $('#mcfe').val();

                    var cygf = $('#cygf').val();
                    var check = $("#mcfeCheck_label");
                    if (text == "") {
                        check.css({color:"red"});
                        check.html( "登记份额不能为空!");
                    }

                    else if(text.search(/^[0-9]+([.]{1}[0-9]+){0,1}$/) == -1){
                        check.css({color:"red"});
                        check.html("请输入有效的卖出份额!");
                    }else if(parseInt(text)>parseInt(cygf)){
                        check.css({color:"red"});
                        check.html("卖出份额不能大于持有股份!");
                    }
                    else{
                        check.html( "");
                    }
                    break;
            }
        }
        function add(){

            var v= $("#mcjg").val();
            var v2 = parseFloat(v)+1

            $("#mcjg").val(String(v2));
        }
        function cut(){
            var v= $("#mcjg").val();
            var v2 = parseFloat(v);
            if(v2>1){
                v2 = v2-1
            }

            $("#mcjg").val(String(Math.round(v2*100)/100));
        }
    </script>
    <style type="text/css">
        body {
            height: auto;
            width: 100%;
            margin: 0px;
            padding: 0px;
            max-width:970px;
            min-width:753px;
            background-color: #CCE5EC;

        }
        .bd {
            height: 40px;
            width: 75%;
            border: 1px solid #CCC;
            min-width: 530px;
            color: #666;
            text-indent: 3mm;
            background-color: #eef7fa;
            margin-left: 4%;
        }
        .bd2 {
            height: 40px;
            width: 60%;
            border: 1px solid #CCC;
            min-width: 130px;
            color: #666;
            text-indent: 3mm;
            background-color: #eef7fa;
            margin-left: 4%;
        }
        .div_bd {
            width: auto;
            margin-bottom: 18px;
            text-align: left;
            margin-left: 20%;
        }
        #div1 #div3 {
            height: auto;
            margin-top: 50px;
            border-bottom-width: 0px;
            border-bottom-style: ridge;
            border-bottom-color: #c8e1e6;
            margin-bottom: 40px;
        }
        .div_yema {
            margin-top: 36px;
            margin-right: auto;
            margin-left: auto;
            height: 100px;
        }
        .bdfh {
            height: 40px;
            width: 100%;
            border: 1px solid #CCC;
        }
        button {
            height: 43px;
            width: 142px;
            background-color: #69c9ec;
            border-top-style: none;
            border-right-style: none;
            border-bottom-style: none;
            border-left-style: none;
            border-radius: 5px;
        }
        button:hover{
            background-color: #9adaf1;cursor:pointer;
        }
        .an_ym {
            background-color: #a9c5d0;
            border-top-style: none;
            border-right-style: none;
            border-bottom-style: none;
            border-left-style: none;
            border-radius: 3px;
            height: 22px;
        }
        .an_ym:hover{
            background-color: #6ac8ec;cursor:pointer;
        }
        .font4 {
            font-family: "微软雅黑";
            font-size: 18px;
            color: #ed7c65;
        }
        .font2 {
            font-family: "微软雅黑";
            font-size: 13px;
            color: #2d3d5b;
        }
        .an1 {
            background-color: #69c9ec;
            height: 43px;
            width: 180px;
            font-family: "微软雅黑";
            font-size: 14px;
            border-radius: 5px;
            border-top-style: none;
            border-right-style: none;
            border-bottom-style: none;
            border-left-style: none;
        }
        .an1:hover{background-color:#91d7f0;
            cursor:pointer;}
        .font3 {
            font-family: "微软雅黑";
            font-size: 18px;
            font-weight: bold;
            color: #2d3d5b;
        }
        .font1 {
            font-family: "微软雅黑";
            font-size: 14px;
            font-weight: bold;
            color: #000;
        }
        #div1 #div2 {
            height: 42px;
            width: auto;
        }
        #div1 {
            width: auto;
            background-color: #ddeef4;

        }

        #div1 #div3 #an_tj {
            margin-right: auto;
            margin-left: auto;
            width: 180px;
            height: 120px;
            margin-top: 50px;
        }
        .an_jia{
            height: 40px;
            width: 40px;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 24px;
            font-weight: bold;
            border-top-style: none;
            border-right-style: none;
            border-bottom-style: none;
            border-left-style: none;
            background-color: #69C9EC;
            color: #FFF;
            float: left;
            margin-top: 2px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        .an_jia:hover{
            cursor:pointer;
        }
    </style>
</head>

<body>
<div id="div1">
    <div id="div2" style="margin-top: 20px"><table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td width="6" bgcolor="#ed7c65">&nbsp;</td>
                <td bgcolor="#c2e1eb" class="font1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资产交易</td>
                <td width="52" bgcolor="#c2e1eb"><img src="/img/zyan.png" width="51" height="42" /></td>
            </tr>
        </table>

    </div>
    <script>

        function selection(value){
            var json = JSON.parse($('#test').text());
            for(var i =0;i<json.length;i++){
                var jsonobj = json[i];
                var currency = jsonobj['currency'];
                if(jsonobj['counterparty'] == value){
                    $('#cygf').val(jsonobj['value']);
                    $('#zgmj').val(jsonobj['price']);
                    $('#currency').val(jsonobj['currency']);
                }
            }
        }
    </script>
    <form id="form1" action="/market/sell" method="post" onsubmit="return checkaccount()">
        <div id="div3">
            <div class="div_bd" id="div_lc"><span class="font2" >资产名称*</span>&nbsp&nbsp<span id="mclistCheck_label" style="font-size: 14px;"></span><br />
                <br style="line-height:12px" />

                <label for="cslc"></label>
                <div id="test" style="display: none"><%=JSON.stringify(balances)%></div>
                <select name="counterparty" class="bd" id="mclist" onchange="selection(this.value);">
                    <% balances.forEach(function (balance) { %>
                    <% if ((balance.currency!="XRP")&&(balance.currency!="ZXC")) {%>
                    <option value="<%=balance.counterparty%>">&nbsp;&nbsp;<%=balance.currency%>&nbsp;&nbsp;<%=balance.currencyname%></option>
                    <%}%>
                    <%})%>
                </select>

            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" data-show="false"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 10%">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        </div>
                        <div class="modal-body">
                            <div>
                                <table width="100%">
                                    <tr>
                                        <td width="40%" align="right" style="padding-right: 20px">
                                            <img id="imgchange" src="/img/jiazaizhong-063.gif" style="width: 50px;height: 50px" alt=""/>
                                        </td>
                                        <td id="textchange" width="60%" align="left" class="font3">正在提交...</td>
                                    </tr>
                                </table>
                            </div>

                            <div style="padding-left:50px">
                                <p >
                                    <span id="tjtext" class="font2">数据正在提交，请耐心等待。</span>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button id="button" type="button" class="btn btn-primary" data-dismiss="modal" onclick="okey()" disabled="true">
                                    确定
                                </button>
                            </div>
                        </div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div class="div_bd" id="div_fe"><span class="font2" >最近成交价</span><br />
                <br style="line-height:12px" />

                <label for="zgmj"></label>
                <%if(balances.length>0){%>
                <input  type="text" class="bd" id="zgmj" readonly="readonly"  value="<%=balances[0].price%>"  />
                 <input type="text" name="currency" id="currency" style="display:none" value="<%=balances[0].currency%>" >
                <%}else{%>
                <input  type="text" class="bd" id="zgmj" readonly="readonly"  value=""  />
                 <input type="text" name="currency" id="currency" style="display:none" >
                 <%}%>
            </div>
            <div class="div_bd" id="div_fe"><span class="font2" >持有份额</span><br />
                <br style="line-height:12px" />

                <label for="cygf"></label>
                <%if(balances.length>0){%>
                <input type="text" class="bd" id="cygf" readonly="readonly"   value="<%=balances[0].value%>"  />
                <%}else{%>
                <input type="text" class="bd" id="cygf" readonly="readonly"  value=""  />

                 <%}%>
            </div>
            <div class="div_bd" id="div_jg"><span class="font2" >卖出份额</span>&nbsp&nbsp<span id="mcfeCheck_label" style="font-size: 14px;"></span><br/>
                <br style="line-height:12px" />

                <label for="mcfe"></label>
                <input name="value" type="text" class="bd" id="mcfe" placeholder="份" value="" onblur="checkRegisterInfo(1)" />
            </div>
            <div class="div_bd" id="div_jg"><span class="font2" >卖出单价</span><br/>
                <br style="line-height:12px" />
                <label for="zcmc"></label>
                <input  type="button" class="an_jia" id="jia" value="+"  onclick="add()"/>
                <input name="price" type="text" class="bd2" id="mcjg" placeholder="众享币/份"  value="0" />
                <input  type="button" class="an_jia" id="jia2" value="-"  onclick="cut()" style=" margin-left:70%; float: left; margin-top:-41px"/>
            </div>
            <div id="an_tj"><input  type="submit" id="submit" class="an1" value="提&nbsp;&nbsp;交" /></div>

        </div>

    </form>
</div>
</body>
</html>

